<div class="container">
  <h2>Company Listing</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let company of companies$ | async">
      <div class="card mb-4 shadow-sm" (click)="viewCompanyDetails(company._id)">
        <div class="card-body">
          <h5 class="card-title">{{ company.organization }}</h5>
          <p class="card-text"><strong>Position:</strong> {{ company.position }}</p>
          <p class="card-text"><strong>From:</strong> {{ company.from_date | date }}</p>
          <p class="card-text"><strong>To:</strong> {{ company.to_date | date }}</p>
          <p class="card-text"><strong>Role:</strong> {{ company.role }}</p>
          <p class="card-text"><strong>Responsibilities:</strong></p>
          <ul>
            <li *ngFor="let responsibility of company.responsibilities">{{ responsibility }}</li>
          </ul>
          <p class="card-text"><strong>Projects:</strong></p>
          <ul>
            <li *ngFor="let project of company.projects">
              Project ID: {{ project }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>